    .result-container {
        max-width: 400px;
        justify-content: space-between;
        align-items: center;
        background-color: #117D67;
        padding: 10px;
        border-radius: 10px;
        color: white;
        margin: 10px 0;
        box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1); /* Thêm shadow */
    }
    .result-item {
        display: flex;
        flex-direction: column;
        align-items: left;
        justify-content: left;
        font-size: 17px;
        flex: 1; /* Chia đều không gian cho các item */
        padding: 5px 10px;
    }
    
    .result-item:not(:last-child) {
        border-right: 1px solid white; /* Đường kẻ trắng giữa 2 kết quả */
    }
    
    .result-item span {
        font-size: 14px;
        color: #C0CFCF;
    }
    
    button {
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
    }
    
    #result {
        margin-top: 10px;
    }
    
    .facts-figures table {
        width: 100%;
        border-collapse: collapse;
    }
    
    .facts-figures th, .facts-figures td {
        padding: 5px;
        border: 1px solid #ddd;
        text-align: center;
    }
    
    .facts-figures th {
        background-color: #f2f2f2;
    }